<%= form_for(workshop) do |f| %>
  <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field checkbox-list">
    <%= f.label "Teachers:" %>
    <%= collection_check_boxes(:workshop, :teacher_ids, Teacher.all, :id, :name) do |cb|%>
      <div class="checkbox">
        <label>
          <%= cb.check_box %><%= cb.label %>
        </label>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :held_on %>
    <%= f.date_select :held_on %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit "Create Workshop", class: "btn btn-success"%>
  </div>
<% end %>
