<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
    <h2><%= @workshop.name =%></h2>
    <p>
    <strong>Held on:</strong>
    <%= @workshop.held_on.strftime('%d %B %Y') %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= @workshop.notes %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Record Attendance</h3>
    <%= render 'attendances/form', attendance: Attendance.new(workshop: @workshop), students: Student.where.not(id: @workshop.attendees.map(&:id)) %>
  </div>
  <div class="col-sm-6">
    <h3>Record Purchase</h3>
    <%= render 'purchases/form', purchase: Purchase.new %>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Attendees:</h3>
    <ul>
      <% for @attendee in @workshop.attendees %>
        <li><%= @attendee %> <%= link_to 'Mark as absent', @attendee.attendance, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    </ul> 
  </div>
</div>
