<p id="notice"><%= notice %></p>
<h2><%= @workshop.name =%></h2>
<p>
  <strong>Held on:</strong>
  <%= @workshop.held_on %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
