<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
    <h2><%= @workshop.name =%></h2>
    <p>
    <strong>Held on:</strong>
    <%= @workshop.held_on %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h3>Add Attendee</h3>

    <%= render 'attendances/form', attendance: Attendance.new(workshop: @workshop) %>
  </div>
  <div class="col-sm-6">
    <h3>Record Purchase</h3>
    <%= render 'purchases/form', purchase: Purchase.new %>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Attendees:</h3>
    <ul>
      <% for @attendee in @workshop.attendees %>
        <li><%= "#{@attendee.name} (#{@attendee.passes_remaining} passes remaining)" %>
      <% end %>
    </ul> 
    <%= link_to 'Edit', edit_workshop_path(@workshop) %> |
    <%= link_to 'Back', workshops_path %>
  </div>
</div>
