<p id="notice"><%= notice %></p>

<p>
  <strong>Package:</strong>
  <%= @purchase.package %>
</p>

<p>
  <strong>Student:</strong>
  <%= @purchase.student %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
