<%= form_for(attendance) do |f| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :student_id %>
    <%= f.collection_select(:student_id, students || Student.all, :id, :name, {}, class: "form-control search-select") %>
  </div>

  <% if attendance.workshop_id.present? %>
    <%= f.hidden_field :workshop_id %>
  <% else %>
    <div class="field form-group">
      <%= f.label :workshop_id %>
      <%= f.collection_select(:workshop_id, Workshop.all, :id, :name, {}, class: "form-control") %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Record as attending", class: "btn btn-info"%>
  </div>
<% end %>

<script>
  $('.search-select').select2({});
</script>
